.header-slider ul{
    display: flex;
    overflow-y:hidden ;
}
.header-image{
    max-width:100%;
    mask-image: linear-gradient(to bottom, #d03d3d 50%, transparent 100%);
}
.header-slider a {
    position: absolute;
    top: 55%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff8a;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.control-next{
    right: 0;
}