@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #dadada;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131921;
  padding: 0px 7px;
  color: white;
}
.nav-country{
    display: flex;
    align-items: end;
    /* justify-content: center; */
    margin: 15px;
    font-size: 12px;
    color: #cfcfcf;
}
.nav-country h1{
    color: #fff;
}
.nav-search{
    flex: 1;
    display:flex ;
    align-items: center;
    background: #fff;
    color: grey;
    margin-left: 12px;
    max-width: 1000px;
    border-radius: 4px;
}
.nav-search-category{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5e5e5;
    padding: 10px 12px;
    border-radius: 4px 0 0 4px;
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;

}
.nav-search-icon{
    max-width: 40px;
    padding:8 ;
    background: #ffd64f;
    border-radius: 0 4px 4px 0 ;
}
.nav-language{
    display: flex;
    align-items:center ;
    gap: 2px;
    font-weight:600 ;
    margin-left: 15px;
}
.nav-text{
    margin-left: 15px;
}

.nav-text p{
    font-size: 12px;
}
.nav-text h1{
    font-size: 18px;
}
.nav-return{
    margin-left:15px ;
}
.nav-return P {
    font-size: 12px ;
}
.nav-return h1{
    font-size: 18px ;
}
.nav-cart{
    display: flex;
    align-items: center;
    margin: 0 15px;
}