.product-slider{
    margin: 0 30px;
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
}
.product-slider .product{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}
.product-slider .product img{
    max-width: 200px;
    max-height: 200px;
}
.product::-webkit-scrollbar{
    display: none;
}