.product-slider-with-price{
    background: #fff;
    margin: 0px 30px ;
    padding: 20px;
    margin-bottom: 15px;
}
.product-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}
.product-slider-with-price .products::-webkit-scrollbar{
    display: none;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: #fbfbfb;
    min-width: 250px;
}
.product-card img{
    width: 110px;
    margin: 0 50px;
}
.product-offer p {
background: #be0b3b;
color: #fff;
display: inline-block;
padding: 2px 5px;
font-size: 13px;
margin: 8px 0 ;
border-radius: 2px;
}
.product-offer span{
    font-size: 12px;
    font-weight: 500;
    color: #be0b3b;
}
.product-price{
color: grey;
font-size: 13px;
}
.product-card h3{
font-size: 15px;
font-weight: 400;
color: #525252;
}